<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersk-assignment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersk-assignment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maersk-assignment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maersk-assignment</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:assignment-maersk-server.database.windows.net,1433;Initial Catalog=assignment-maersk-database;Persist Security Info=False;User ID=mmaravinth;Password=iamAWINNER1@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:assignment-maersk-server.database.windows.net,1433;Initial Catalog=assignment-maersk-database;Persist Security Info=False;User ID=mmaravinth;Password=iamAWINNER1@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="maerskline.Models.ApplicationDbContext, maerskline" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="maerskDB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:assignment-maersk-server.database.windows.net,1433;Initial Catalog=assignment-maersk-database;User ID=mmaravinth;Password=iamAWINNER1@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="maerskline.Models.maerskDB, maerskline" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="maerskline.Models.maerskDB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="maerskDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.maerskModel.csdl|res://*/Models.maerskModel.ssdl|res://*/Models.maerskModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:assignment-maersk-server.database.windows.net,1433;Initial Catalog=assignment-maersk-database;User ID=mmaravinth;Password=iamAWINNER1@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:assignment-maersk-server.database.windows.net,1433;Initial Catalog=assignment-maersk-database;Persist Security Info=False;User ID=mmaravinth;Password=iamAWINNER1@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>